.gitignore
HramUspeniaUstkut/img/Новая папка/Крещение.JPG
*.scss
HramUspeniaUstkut/\#source/_container-nav-back.turf
HramUspeniaUstkut/\#source/_container-nav.turf
HramUspeniaUstkut/\#source/_page-footer.turf
HramUspeniaUstkut/\#source/css/plugins/swiper-vars.css
HramUspeniaUstkut/\#source/index.turf
HramUspeniaUstkut/\#source/js/plugins/colorbox/colorbox.js
HramUspeniaUstkut/\#source/js/plugins/colorbox/jquery.colorbox.js
HramUspeniaUstkut/\#source/js/plugins/jquery.back-to-top.js
HramUspeniaUstkut/\#source/js/plugins/swiper/swiper.js
HramUspeniaUstkut/\#source/js/script.js
HramUspeniaUstkut/\#source/js/plugins/FidEk/Feed.js
HramUspeniaUstkut/\#source/js/plugins/FidEk/FeedEk.js
HramUspeniaUstkut/\#source/js/plugins/swiper/swiper-bundle.js
HramUspeniaUstkut/\#source/scss/layout/img/Promo-backgroand.jpg
HramUspeniaUstkut/\#source/Uspenie-cerh/advert.turf
HramUspeniaUstkut/\#source/Uspenie-cerh/charity.turf
HramUspeniaUstkut/\#source/Uspenie-cerh/clergy.turf
HramUspeniaUstkut/\#source/Uspenie-cerh/contacts.turf
HramUspeniaUstkut/\#source/Uspenie-cerh/news.turf
HramUspeniaUstkut/\#source/Uspenie-cerh/sacrament.turf
HramUspeniaUstkut/\#source/Uspenie-cerh/timetable.turf
HramUspeniaUstkut/img/Новая папка/Крещение 2.JPG
HramUspeniaUstkut/img/Новая папка/Миропомазание 2.JPG
HramUspeniaUstkut/img/Новая папка/Миропомазние.JPG
HramUspeniaUstkut/prepros.config
HramUspeniaUstkut/img/Новая папка/крещение3.JPG
prepros.config
HramUspeniaUstkut/img/img-sacrament/Исповедь.jpg
HramUspeniaUstkut/img/img-sacrament/Крещение 2.JPG
HramUspeniaUstkut/img/img-sacrament/Крещение.JPG
HramUspeniaUstkut/img/img-sacrament/крещение3.JPG
HramUspeniaUstkut/img/img-sacrament/Миропомазание 2.JPG
HramUspeniaUstkut/img/img-sacrament/Миропомазние.JPG
HramUspeniaUstkut/img/img-sacrament/Причастие.jpg
