prepros.config
#source/_container-nav-back.turf
#source/_container-nav.turf
#source/_page-footer.turf
#source/index.turf
#source/js/script.js
#source/scss/style.scss
#source/scss/components/_timetable.scss
#source/scss/layout/_charity.scss
#source/scss/layout/_clergy.scss
#source/scss/layout/_contacts.scss
#source/scss/layout/_footer.scss
#source/scss/layout/_header.scss
#source/scss/layout/_news.scss
#source/scss/layout/_sacrament.scss
#source/scss/layout/_submenu.scss
#source/scss/plugins/_back-to-top.scss
#source/scss/plugins/_colorbox.scss
#source/scss/plugins/_swiper-vars.scss
#source/scss/plugins/_swiper.scss
#source/scss/plugins/FeedEk.scss
#source/Uspenie-cerh/advert.turf
#source/Uspenie-cerh/charity.turf
#source/Uspenie-cerh/clergy.turf
#source/Uspenie-cerh/contacts.turf
#source/Uspenie-cerh/gratitude.turf
#source/Uspenie-cerh/news.turf
#source/Uspenie-cerh/sacrament.turf
#source/Uspenie-cerh/timetable.turf
Uspenie-cerh/prepros.config
