@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Infant:wght@600&family=Hind+Madurai:wght@300;400&family=Lora:ital,wght@1,500;1,600&family=Montserrat:wght@700;900&display=swap");
.back-to-top {
  position: fixed;
  right: 10px;
  bottom: 10px;
  display: inline-block;
  z-index: 9;
  width: 60px;
  height: 40px;
  font-size: 11px;
  font-weight: 400;
  color: #fff;
  text-align: center;
  line-height: 3;
  letter-spacing: 1px;
  text-transform: uppercase;
  background: #576789;
  border-radius: 30px;
  visibility: hidden;
  opacity: 0;
  padding: 5px;
  -webkit-transform: translate3d(0, 50px, 0);
  transform: translate3d(0, 50px, 0);
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
          transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
}

.back-to-top:hover {
  color: #fff;
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
          transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
}

.back-to-top:focus,
.back-to-top:hover {
  text-decoration: none;
}

/* The Button Becomes Visible */
.back-to-top.back-to-top-is-visible {
  visibility: visible;
  opacity: 0.6;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
          transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
}

.back-to-top.back-to-top-is-visible:hover {
  opacity: 1;
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
          transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
}

/* If the user keeps scrolling down, the button is out of focus and becomes less visible */
.back-to-top.back-to-top-fade-out {
  opacity: 0.4;
}

.back-to-top.back-to-top-fade-out:hover {
  opacity: 1;
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
          transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
}

body header .container-nav {
  position: fixed;
  width: 100%;
  clear: both;
  right: 0;
  left: 0;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
          transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
  color: white;
  border-bottom: solid 1px;
  -webkit-box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.5);
  z-index: 20;
}
body header .container-nav .container-width {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}
body header .container-nav .container-width .logo {
  overflow: hidden;
  border-radius: 39%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100px;
          flex: 0 0 100px;
  margin: auto 0 auto 0;
}
body header .container-nav .container-width .logo .logo-link .logo-img {
  max-width: 100px;
}
body header .container-nav .container-width .logo-link-back-to-pravbratsk .logo-link {
  display: block;
  margin: -50px auto auto auto;
  color: white;
  background: #55adbd;
  border-radius: 25px;
  padding: 5px;
  text-align: center;
}
body header .container-nav .container-width .logo-link-back-to-pravbratsk .logo-link:visited {
  text-decoration: none;
  color: white;
}
body header .container-nav .container-width .navbar {
  padding-left: 30px;
  margin: 50px 0 0 auto;
}
body header .container-nav .container-width .navbar .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 17px;
  line-height: 3rem;
  font-family: "Lora", serif;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
body header .container-nav .container-width .navbar .menu li {
  margin: 0px 2vw 0px 2vw;
  white-space: nowrap;
}
body header .container-nav .container-width .navbar .menu li .menu-link {
  color: rgb(255, 255, 255);
}
body header .container-nav-back {
  background-color: #5a6586;
}
body header .view {
  background-image: url("../img/Promo-backgroand.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  opacity: 0;
  -webkit-animation: view-opacity 2.5s forwards;
          animation: view-opacity 2.5s forwards;
  height: 1350px;
}
body header .view .opacyti-body {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  background: rgba(38, 47, 75, 0.4);
  padding: 400px 0 400px;
}
body header .view .opacyti-body .list-submenu_1, body header .view .opacyti-body .list-submenu_2, body header .view .opacyti-body .list-submenu_3, body header .view .opacyti-body .list-submenu_4, body header .view .opacyti-body .list-submenu_5 {
  color: white;
  position: absolute;
  visibility: hidden;
}
body header .view .opacyti-body .cerch-name {
  text-align: center;
  font-size: 6rem;
  font-family: "Cormorant Infant", serif;
  color: rgb(255, 255, 255);
  font-weight: bold;
}

@media (max-width: 992px) {
  .body header .container-nav .container-width .logo {
    position: relative;
    z-index: 10;
  }
  .body header .container-nav .container-width .logo-link-back-to-pravbratsk {
    margin: 88px 0 0 0;
    -webkit-box-flex: 1;
        -ms-flex: 1 0 0px;
            flex: 1 0 0;
    padding-right: 30px;
    padding-left: 30px;
  }
  .body header .container-nav .container-width .NavbarCollaps {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    margin: auto 8% auto auto;
    z-index: 10;
  }
  .body header .container-nav .container-width .NavbarCollaps::before,
  .body header .container-nav .container-width .NavbarCollaps::after {
    display: block;
    content: "";
    background-color: #641010;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .body header .container-nav .container-width .NavbarCollaps::before {
    top: 0;
  }
  .body header .container-nav .container-width .NavbarCollaps::after {
    bottom: 0;
  }
  .body header .container-nav .container-width .NavbarCollaps span {
    position: absolute;
    background-color: #641010;
    left: 0;
    width: 100%;
    height: 2px;
    top: 10px;
    margin-left: auto;
    margin-right: auto;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .body header .container-nav .container-width .NavbarCollaps.collaps::before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 9px;
  }
  .body header .container-nav .container-width .NavbarCollaps.collaps::after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: 9px;
  }
  .body header .container-nav .container-width .NavbarCollaps.collaps span {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  .body header .container-nav .container-width .navbar {
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    -webkit-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
  }
  .body header .container-nav .container-width .navbar .menu {
    display: none;
    max-width: 50px;
    margin: 125px auto auto 9%;
    text-align: left;
  }
  .body header .container-nav .container-width .navbar .menu.collaps {
    display: block;
    max-width: 50px;
    margin: 25px auto auto 9%;
    text-align: left;
  }
  .body header .container-nav .container-width .navbar .menu.collaps .menu-link {
    color: rgba(38, 47, 75, 0.9);
  }
  .body header .container-nav .container-width .navbar.collaps {
    color: rgba(38, 47, 75, 0.9);
    border-bottom-color: #f0f0f0;
    -webkit-transition-duration: 0.5s;
            transition-duration: 0.5s;
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-timing-function: cubic-bezier(ease-in-out);
            transition-timing-function: cubic-bezier(ease-in-out);
    background: rgb(255, 255, 255);
    margin-top: 106px;
    top: 0;
    border-top: blue 1px;
  }
}
.page-footer .container-width .page-footer-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.page-footer .container-width .page-footer-content .page-footer-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  margin: 50px 0;
  width: 50%;
}
.page-footer .container-width .page-footer-content .page-footer-section .page-footer-menu {
  margin-top: 0;
  max-width: 186px;
  margin-right: 62px;
}
.page-footer .container-width .page-footer-content .page-footer-section .page-footer-menu h6 {
  white-space: nowrap;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.page-footer .container-width .page-footer-content .page-footer-section .page-footer-menu p {
  line-height: 2.2;
  white-space: nowrap;
}
.page-footer .container-width .page-footer-content .page-footer-section .page-footer-menu p a {
  color: #1a0dab;
}
.page-footer .container-width .page-footer-content .page-footer-section .page-footer-menu .wrap-p {
  white-space: normal;
}
.page-footer .container-width .image-messenger {
  margin-bottom: 30px;
  text-align: right;
  margin-right: 41px;
}
.page-footer .container-width .image-messenger .image-messenger-a {
  padding: 0 20px 0 20px;
}
.page-footer .container-width .image-messenger .image-messenger-a .image-messenger-img {
  border-radius: 100px;
  height: 100%;
  max-block-size: 50px;
}

.footer-copyright {
  background: rgba(255, 255, 255, 0.9);
  font-family: "Lora", serif;
}
.footer-copyright .container-fluid {
  margin-right: 59px;
  text-align: right;
}
.footer-copyright .container-fluid .footer-logo {
  color: #1a0dab;
}

.name-clergy {
  margin-top: 40px;
  font-size: 25px;
  text-transform: uppercase;
  font-weight: bold;
  color: #55adbd;
  text-align: left;
  margin-left: 25px;
}

.container-clergy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.container-clergy .container-clergy-img-contacts {
  margin-top: 50px;
  position: relative;
  margin-bottom: 100px;
  text-align: left;
  max-width: 300px;
  max-height: 1000px;
}
.container-clergy .container-clergy-img-contacts .container-clergy-img {
  overflow: hidden;
}
.container-clergy .container-clergy-img-contacts .container-clergy-img img {
  height: 100%;
  width: 100%;
}
.container-clergy .container-clergy-img-contacts .container-clergy-contacts {
  margin-top: 30px;
}
.container-clergy .container-clergy-content {
  margin-top: 50px;
  max-width: 70%;
  margin-left: 40px;
  text-align: left;
  font-size: 20px;
  line-height: 2vw;
}
.container-clergy .container-clergy-content ul li {
  list-style-type: square;
  margin-left: 60px;
}
.container-clergy .container-clergy-content ul li a {
  color: #0066cc;
}

strong {
  font-weight: bold;
}

.container-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 60px;
  margin-top: 60px;
}
.container-contacts h6 {
  text-transform: uppercase;
  margin-bottom: 15px;
}
.container-contacts .adres {
  width: 33%;
}
.container-contacts .rezim {
  width: 33%;
}
.container-contacts .telefon {
  width: 33%;
}

.view.submenu_1 .opacyti-body .container-width {
  text-align: center;
  max-width: 1000px;
}
.view.submenu_1 .opacyti-body .container-width .cerch-name {
  display: none;
}
.view.submenu_1 .opacyti-body .container-width .list-submenu_1 {
  position: relative;
  visibility: visible;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 2rem;
  padding-top: 100px;
}
.view.submenu_1 .opacyti-body .container-width .list-submenu_1 a {
  color: white;
  border: 1px solid;
  padding: 20px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50px;
          flex: 0 1 50px;
  white-space: nowrap;
  font-family: "Lora", serif;
}

.view.submenu_2 .opacyti-body .container-width {
  text-align: center;
  max-width: 1000px;
}
.view.submenu_2 .opacyti-body .container-width .cerch-name {
  display: none;
}
.view.submenu_2 .opacyti-body .container-width .list-submenu_2 {
  position: relative;
  visibility: visible;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 2rem;
  padding-top: 100px;
}
.view.submenu_2 .opacyti-body .container-width .list-submenu_2 a {
  color: white;
  border: 1px solid;
  padding: 20px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50px;
          flex: 0 1 50px;
  white-space: nowrap;
  font-family: "Lora", serif;
}

.view.submenu_3 .opacyti-body .container-width {
  text-align: center;
  max-width: 1000px;
}
.view.submenu_3 .opacyti-body .container-width .cerch-name {
  display: none;
}
.view.submenu_3 .opacyti-body .container-width .list-submenu_3 {
  position: relative;
  visibility: visible;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 2rem;
  padding-top: 100px;
}
.view.submenu_3 .opacyti-body .container-width .list-submenu_3 a {
  color: white;
  border: 1px solid;
  padding: 20px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50px;
          flex: 0 1 50px;
  white-space: nowrap;
  font-family: "Lora", serif;
}

.view.submenu_4 .opacyti-body .container-width {
  text-align: center;
  max-width: 1000px;
}
.view.submenu_4 .opacyti-body .container-width .cerch-name {
  display: none;
}
.view.submenu_4 .opacyti-body .container-width .list-submenu_4 {
  position: relative;
  visibility: visible;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 2rem;
  padding-top: 100px;
}
.view.submenu_4 .opacyti-body .container-width .list-submenu_4 a {
  color: white;
  border: 1px solid;
  padding: 20px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50px;
          flex: 0 1 50px;
  white-space: nowrap;
  font-family: "Lora", serif;
}

.view.submenu_5 .opacyti-body .container-width {
  text-align: center;
  max-width: 1000px;
}
.view.submenu_5 .opacyti-body .container-width .cerch-name {
  display: none;
}
.view.submenu_5 .opacyti-body .container-width .list-submenu_5 {
  position: relative;
  visibility: visible;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 2rem;
  padding-top: 100px;
}
.view.submenu_5 .opacyti-body .container-width .list-submenu_5 a {
  color: white;
  border: 1px solid;
  padding: 20px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50px;
          flex: 0 1 50px;
  white-space: nowrap;
  font-family: "Lora", serif;
}

.view.promo_2 {
  background-image: url("../img/background-timetable.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  opacity: 0;
  -webkit-animation: view-opacity-timetable 2.5s forwards;
          animation: view-opacity-timetable 2.5s forwards;
}
.view.promo_2 .opacyti-body .container-width .cerch-name {
  visibility: hidden;
}

@-webkit-keyframes view-opacity-timetable {
  0% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}

@keyframes view-opacity-timetable {
  0% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}
.view.promo_3 {
  background-image: url("../img/background-live-cerch.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  opacity: 0;
  -webkit-animation: view-opacity-live-cerch 2.5s forwards;
          animation: view-opacity-live-cerch 2.5s forwards;
}
.view.promo_3 .opacyti-body .container-width .cerch-name {
  visibility: hidden;
}

@-webkit-keyframes view-opacity-live-cerch {
  0% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}

@keyframes view-opacity-live-cerch {
  0% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}
.view.promo_4 {
  background-image: url("../img/77 Усть-Кут Освящение Престола.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  opacity: 0;
  -webkit-animation: view-opacity-live-cerch 2.5s forwards;
          animation: view-opacity-live-cerch 2.5s forwards;
}

.news-cherh .feedEkList {
  max-width: 1400px;
  list-style: none outside none;
  background-color: #FFFFFF;
  border: 1px solid #D3CAD7;
  padding: 4px 6px;
  color: #3E3E3E;
  margin-top: 50px;
}
.news-cherh .feedEkList li {
  border-bottom: 1px solid #D3CAD7;
  padding: 35px;
}
.news-cherh .feedEkList li:last-child {
  border-bottom: none;
}
.news-cherh .itemTitle a {
  font-weight: bold;
  color: #4EBAFF !important;
  text-decoration: none;
  font-size: 19px;
}
.news-cherh .itemTitle a:hover {
  text-decoration: underline;
}
.news-cherh .itemDate {
  font-size: 16px;
  color: #AAAAAA;
}
.news-cherh .itemAuthor {
  font-size: 11px;
  color: #AAAAAA;
  text-align: right;
}
.news-cherh .itemContent {
  font-size: 16px;
}

table {
  font-family: "Cormorant Infant", serif;
  font-size: 24px;
  border: 1px solid #999;
  border-radius: 20px;
}

td {
  border: 1px solid #999;
  border-radius: 20px;
  padding-left: 5px;
  padding-right: 5px;
}

td:first-child {
  text-align: center;
  width: 10px;
}

td:nth-child(2) {
  width: 105px;
}

.backgroand-timetable .opacyti-body {
  margin: 0 auto;
  width: 100%;
  text-align: center;
}

.backgroand-syte-timetable {
  background-image: url(../img/background-timetable.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.backgroand-syte-timetable .opacyti-body-timetable {
  background: rgba(38, 47, 75, 0.4);
}
.backgroand-syte-timetable .opacyti-body-timetable .container-width-timetable .timetable {
  padding-top: 150px;
}
.backgroand-syte-timetable .opacyti-body-timetable .container-width-timetable .timetable .header {
  font-family: "Montserrat", sans-serif;
  padding-top: 50px;
  font-size: 34px;
  color: white;
  text-align: center;
}
.backgroand-syte-timetable .opacyti-body-timetable .container-width-timetable .timetable .lorem {
  padding-top: 100px;
  padding-bottom: 100px;
}
.backgroand-syte-timetable .opacyti-body-timetable .container-width-timetable .timetable .lorem .table-timetable {
  position: relative;
  background-color: antiquewhite;
  opacity: 0.9;
  color: rgb(6, 6, 6);
  z-index: 1;
  border-radius: 20px;
}

/*
    Colorbox Core Style:
    The following CSS is consistent between example themes and should not be altered.
*/
#colorbox,
#cboxOverlay,
#cboxWrapper {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
}

#cboxWrapper {
  max-width: none;
}

#cboxOverlay {
  position: fixed;
  width: 100%;
  height: 100%;
}

#cboxMiddleLeft,
#cboxBottomLeft {
  clear: left;
}

#cboxContent {
  position: relative;
}

#cboxLoadedContent {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

#cboxTitle {
  margin: 0;
}

#cboxLoadingOverlay,
#cboxLoadingGraphic {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#cboxPrevious,
#cboxNext,
#cboxClose,
#cboxSlideshow {
  cursor: pointer;
}

.cboxPhoto {
  float: left;
  margin: auto;
  border: 0;
  display: block;
  max-width: none;
  -ms-interpolation-mode: bicubic;
}

.cboxIframe {
  width: 100%;
  height: 100%;
  display: block;
  border: 0;
  padding: 0;
  margin: 0;
}

#colorbox,
#cboxContent,
#cboxLoadedContent {
  box-sizing: content-box;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
}

/* 
    User Style:
    Change the following styles to modify the appearance of Colorbox.  They are
    ordered & tabbed in a way that represents the nesting of the generated HTML.
*/
#cboxOverlay {
  background: #000000;
  opacity: 0.9;
  filter: alpha(opacity=90);
}

#colorbox {
  outline: 0;
}

#cboxTopLeft {
  width: 25px;
  height: 25px;
  background: url(images/border1.png) no-repeat 0 0;
}

#cboxTopCenter {
  height: 25px;
  background: url(images/border1.png) repeat-x 0 -50px;
}

#cboxTopRight {
  width: 25px;
  height: 25px;
  background: url(images/border1.png) no-repeat -25px 0;
}

#cboxBottomLeft {
  width: 25px;
  height: 25px;
  background: url(images/border1.png) no-repeat 0 -25px;
}

#cboxBottomCenter {
  height: 25px;
  background: url(images/border1.png) repeat-x 0 -75px;
}

#cboxBottomRight {
  width: 25px;
  height: 25px;
  background: url(images/border1.png) no-repeat -25px -25px;
}

#cboxMiddleLeft {
  width: 25px;
  background: url(images/border2.png) repeat-y 0 0;
}

#cboxMiddleRight {
  width: 25px;
  background: url(images/border2.png) repeat-y -25px 0;
}

#cboxContent {
  background: #fff;
  overflow: hidden;
}

.cboxIframe {
  background: #fff;
}

#cboxError {
  padding: 50px;
  border: 1px solid #ccc;
}

#cboxLoadedContent {
  margin-bottom: 20px;
}

#cboxTitle {
  position: absolute;
  bottom: 0px;
  left: 0;
  text-align: center;
  width: 100%;
  color: #999;
}

#cboxCurrent {
  position: absolute;
  bottom: -3px;
  left: 132px;
  color: #999;
}

#cboxLoadingOverlay {
  background: #fff url(images/loading.gif) no-repeat 5px 5px;
}

/* these elements are buttons, and may need to have additional styles reset to avoid unwanted base styles */
#cboxPrevious,
#cboxNext,
#cboxSlideshow,
#cboxClose {
  border: 0;
  padding: 0;
  margin: 0;
  overflow: visible;
  width: auto;
  background: none;
}

/* avoid outlines on :active (mouseclick), but preserve outlines on :focus (tabbed navigating) */
#cboxPrevious:active,
#cboxNext:active,
#cboxSlideshow:active,
#cboxClose:active {
  outline: 0;
}

#cboxSlideshow {
  position: absolute;
  bottom: 0px;
  right: 42px;
  color: #444;
}

#cboxPrevious {
  position: absolute;
  bottom: 0px;
  left: 6px;
  color: #444;
}

#cboxNext {
  position: absolute;
  bottom: 0px;
  left: 63px;
  color: #444;
}

#cboxClose {
  position: absolute;
  bottom: 0;
  right: 4px;
  display: block;
  color: #444;
}

/*
  The following fixes a problem where IE7 and IE8 replace a PNG's alpha transparency with a black fill
  when an alpha filter (opacity change) is set on the element or ancestor element.  This style is not applied to or needed in IE9.
  See: http://jacklmoore.com/notes/ie-transparency-problems/
*/
.cboxIE #cboxTopLeft,
.cboxIE #cboxTopCenter,
.cboxIE #cboxTopRight,
.cboxIE #cboxBottomLeft,
.cboxIE #cboxBottomCenter,
.cboxIE #cboxBottomRight,
.cboxIE #cboxMiddleLeft,
.cboxIE #cboxMiddleRight {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF, endColorstr=#00FFFFFF);
}

/*#cboxWrapper {
    position: absolute;
    z-index: 9999;
    top: 0;
    left: 0;

    overflow: hidden;
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);

}*/
/**
 * Swiper 9.0.5
 * Most modern mobile touch slider and framework with hardware accelerated transitions
 * https://swiperjs.com
 *
 * Copyright 2014-2023 Vladimir Kharlampidi
 *
 * Released under the MIT License
 *
 * Released on: February 13, 2023
 */
/* FONT_START */
@font-face {
  font-family: "swiper-icons";
  src: url("data:application/font-woff;charset=utf-8;base64, d09GRgABAAAAAAZgABAAAAAADAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABGRlRNAAAGRAAAABoAAAAci6qHkUdERUYAAAWgAAAAIwAAACQAYABXR1BPUwAABhQAAAAuAAAANuAY7+xHU1VCAAAFxAAAAFAAAABm2fPczU9TLzIAAAHcAAAASgAAAGBP9V5RY21hcAAAAkQAAACIAAABYt6F0cBjdnQgAAACzAAAAAQAAAAEABEBRGdhc3AAAAWYAAAACAAAAAj//wADZ2x5ZgAAAywAAADMAAAD2MHtryVoZWFkAAABbAAAADAAAAA2E2+eoWhoZWEAAAGcAAAAHwAAACQC9gDzaG10eAAAAigAAAAZAAAArgJkABFsb2NhAAAC0AAAAFoAAABaFQAUGG1heHAAAAG8AAAAHwAAACAAcABAbmFtZQAAA/gAAAE5AAACXvFdBwlwb3N0AAAFNAAAAGIAAACE5s74hXjaY2BkYGAAYpf5Hu/j+W2+MnAzMYDAzaX6QjD6/4//Bxj5GA8AuRwMYGkAPywL13jaY2BkYGA88P8Agx4j+/8fQDYfA1AEBWgDAIB2BOoAeNpjYGRgYNBh4GdgYgABEMnIABJzYNADCQAACWgAsQB42mNgYfzCOIGBlYGB0YcxjYGBwR1Kf2WQZGhhYGBiYGVmgAFGBiQQkOaawtDAoMBQxXjg/wEGPcYDDA4wNUA2CCgwsAAAO4EL6gAAeNpj2M0gyAACqxgGNWBkZ2D4/wMA+xkDdgAAAHjaY2BgYGaAYBkGRgYQiAHyGMF8FgYHIM3DwMHABGQrMOgyWDLEM1T9/w8UBfEMgLzE////P/5//f/V/xv+r4eaAAeMbAxwIUYmIMHEgKYAYjUcsDAwsLKxc3BycfPw8jEQA/gZBASFhEVExcQlJKWkZWTl5BUUlZRVVNXUNTQZBgMAAMR+E+gAEQFEAAAAKgAqACoANAA+AEgAUgBcAGYAcAB6AIQAjgCYAKIArAC2AMAAygDUAN4A6ADyAPwBBgEQARoBJAEuATgBQgFMAVYBYAFqAXQBfgGIAZIBnAGmAbIBzgHsAAB42u2NMQ6CUAyGW568x9AneYYgm4MJbhKFaExIOAVX8ApewSt4Bic4AfeAid3VOBixDxfPYEza5O+Xfi04YADggiUIULCuEJK8VhO4bSvpdnktHI5QCYtdi2sl8ZnXaHlqUrNKzdKcT8cjlq+rwZSvIVczNiezsfnP/uznmfPFBNODM2K7MTQ45YEAZqGP81AmGGcF3iPqOop0r1SPTaTbVkfUe4HXj97wYE+yNwWYxwWu4v1ugWHgo3S1XdZEVqWM7ET0cfnLGxWfkgR42o2PvWrDMBSFj/IHLaF0zKjRgdiVMwScNRAoWUoH78Y2icB/yIY09An6AH2Bdu/UB+yxopYshQiEvnvu0dURgDt8QeC8PDw7Fpji3fEA4z/PEJ6YOB5hKh4dj3EvXhxPqH/SKUY3rJ7srZ4FZnh1PMAtPhwP6fl2PMJMPDgeQ4rY8YT6Gzao0eAEA409DuggmTnFnOcSCiEiLMgxCiTI6Cq5DZUd3Qmp10vO0LaLTd2cjN4fOumlc7lUYbSQcZFkutRG7g6JKZKy0RmdLY680CDnEJ+UMkpFFe1RN7nxdVpXrC4aTtnaurOnYercZg2YVmLN/d/gczfEimrE/fs/bOuq29Zmn8tloORaXgZgGa78yO9/cnXm2BpaGvq25Dv9S4E9+5SIc9PqupJKhYFSSl47+Qcr1mYNAAAAeNptw0cKwkAAAMDZJA8Q7OUJvkLsPfZ6zFVERPy8qHh2YER+3i/BP83vIBLLySsoKimrqKqpa2hp6+jq6RsYGhmbmJqZSy0sraxtbO3sHRydnEMU4uR6yx7JJXveP7WrDycAAAAAAAH//wACeNpjYGRgYOABYhkgZgJCZgZNBkYGLQZtIJsFLMYAAAw3ALgAeNolizEKgDAQBCchRbC2sFER0YD6qVQiBCv/H9ezGI6Z5XBAw8CBK/m5iQQVauVbXLnOrMZv2oLdKFa8Pjuru2hJzGabmOSLzNMzvutpB3N42mNgZGBg4GKQYzBhYMxJLMlj4GBgAYow/P/PAJJhLM6sSoWKfWCAAwDAjgbRAAB42mNgYGBkAIIbCZo5IPrmUn0hGA0AO8EFTQAA");
  font-weight: 400;
  font-style: normal;
}
/* FONT_END */
:root {
  --swiper-theme-color: #007aff;
  /*
  --swiper-preloader-color: var(--swiper-theme-color);
  --swiper-wrapper-transition-timing-function: initial;
  */
}

.swiper,
swiper-container {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  /* Fix of Webkit flickering */
  z-index: 1;
  display: block;
}

.swiper-vertical > .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-timing-function: var(--swiper-wrapper-transition-timing-function, initial);
          transition-timing-function: var(--swiper-wrapper-transition-timing-function, initial);
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.swiper-android .swiper-slide,
.swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-horizontal {
  -ms-touch-action: pan-y;
      touch-action: pan-y;
}

.swiper-vertical {
  -ms-touch-action: pan-x;
      touch-action: pan-x;
}

.swiper-slide,
swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  display: block;
}

.swiper-slide-invisible-blank {
  visibility: hidden;
}

/* Auto Height */
.swiper-autoheight,
.swiper-autoheight .swiper-slide {
  height: auto;
}

.swiper-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-transition-property: height, -webkit-transform;
  transition-property: height, -webkit-transform;
  transition-property: transform, height;
  transition-property: transform, height, -webkit-transform;
}

.swiper-backface-hidden .swiper-slide {
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

/* 3D Effects */
.swiper-3d.swiper-css-mode .swiper-wrapper {
  -webkit-perspective: 1200px;
          perspective: 1200px;
}

.swiper-3d .swiper-wrapper {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.swiper-3d {
  -webkit-perspective: 1200px;
          perspective: 1200px;
}

.swiper-3d .swiper-slide,
.swiper-3d .swiper-slide-shadow,
.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right,
.swiper-3d .swiper-slide-shadow-top,
.swiper-3d .swiper-slide-shadow-bottom,
.swiper-3d .swiper-cube-shadow {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.swiper-3d .swiper-slide-shadow,
.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right,
.swiper-3d .swiper-slide-shadow-top,
.swiper-3d .swiper-slide-shadow-bottom {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 10;
}

.swiper-3d .swiper-slide-shadow {
  background: rgba(0, 0, 0, 0.15);
}

.swiper-3d .swiper-slide-shadow-left {
  background-image: -webkit-gradient(linear, right top, left top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)));
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.swiper-3d .swiper-slide-shadow-right {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)));
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.swiper-3d .swiper-slide-shadow-top {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)));
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.swiper-3d .swiper-slide-shadow-bottom {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)));
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

/* CSS Mode */
.swiper-css-mode > .swiper-wrapper {
  overflow: auto;
  scrollbar-width: none;
  /* For Firefox */
  -ms-overflow-style: none;
  /* For Internet Explorer and Edge */
}

.swiper-css-mode > .swiper-wrapper::-webkit-scrollbar {
  display: none;
}

.swiper-css-mode > .swiper-wrapper > .swiper-slide {
  scroll-snap-align: start start;
}

.swiper-horizontal.swiper-css-mode > .swiper-wrapper {
  -ms-scroll-snap-type: x mandatory;
      scroll-snap-type: x mandatory;
}

.swiper-vertical.swiper-css-mode > .swiper-wrapper {
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
}

.swiper-centered > .swiper-wrapper::before {
  content: "";
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-ordinal-group: 10000;
      -ms-flex-order: 9999;
          order: 9999;
}

.swiper-centered > .swiper-wrapper > .swiper-slide {
  scroll-snap-align: center center;
  scroll-snap-stop: always;
}

.swiper-centered.swiper-horizontal > .swiper-wrapper > .swiper-slide:first-child {
  -webkit-margin-start: var(--swiper-centered-offset-before);
          margin-inline-start: var(--swiper-centered-offset-before);
}

.swiper-centered.swiper-horizontal > .swiper-wrapper::before {
  height: 100%;
  min-height: 1px;
  width: var(--swiper-centered-offset-after);
}

.swiper-centered.swiper-vertical > .swiper-wrapper > .swiper-slide:first-child {
  -webkit-margin-before: var(--swiper-centered-offset-before);
          margin-block-start: var(--swiper-centered-offset-before);
}

.swiper-centered.swiper-vertical > .swiper-wrapper::before {
  width: 100%;
  min-width: 1px;
  height: var(--swiper-centered-offset-after);
}

.swiper-lazy-preloader {
  width: 42px;
  height: 42px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -21px;
  margin-top: -21px;
  z-index: 10;
  -webkit-transform-origin: 50%;
          transform-origin: 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 4px solid var(--swiper-preloader-color, var(--swiper-theme-color));
  border-radius: 50%;
  border-top-color: transparent;
}

.swiper:not(.swiper-watch-progress) .swiper-lazy-preloader,
swiper-container:not(.swiper-watch-progress) .swiper-lazy-preloader,
.swiper-watch-progress .swiper-slide-visible .swiper-lazy-preloader {
  -webkit-animation: swiper-preloader-spin 1s infinite linear;
          animation: swiper-preloader-spin 1s infinite linear;
}

.swiper-lazy-preloader-white {
  --swiper-preloader-color: #fff;
}

.swiper-lazy-preloader-black {
  --swiper-preloader-color: #000;
}

@-webkit-keyframes swiper-preloader-spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes swiper-preloader-spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
.swiper-virtual .swiper-slide {
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
}

.swiper-virtual.swiper-css-mode .swiper-wrapper::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
}

.swiper-virtual.swiper-css-mode.swiper-horizontal .swiper-wrapper::after {
  height: 1px;
  width: var(--swiper-virtual-size);
}

.swiper-virtual.swiper-css-mode.swiper-vertical .swiper-wrapper::after {
  width: 1px;
  height: var(--swiper-virtual-size);
}

:root {
  --swiper-navigation-size: 300px;
  /*
  --swiper-navigation-top-offset: 50%;
  --swiper-navigation-sides-offset: 10px;
  --swiper-navigation-color: var(--swiper-theme-color);
  */
}

.swiper-button-prev,
.swiper-button-next {
  position: absolute;
  top: var(--swiper-navigation-top-offset, 50%);
  width: calc(var(--swiper-navigation-size) / 44 * 27);
  height: var(--swiper-navigation-size);
  margin-top: calc(335px - var(--swiper-navigation-size) / 2);
  z-index: 10;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: var(--swiper-navigation-color, var(--swiper-theme-color));
}

.swiper-button-prev.swiper-button-disabled,
.swiper-button-next.swiper-button-disabled {
  opacity: 0.35;
  cursor: auto;
  pointer-events: none;
}

.swiper-button-prev.swiper-button-hidden,
.swiper-button-next.swiper-button-hidden {
  opacity: 0;
  cursor: auto;
  pointer-events: none;
}

.swiper-navigation-disabled .swiper-button-prev,
.swiper-navigation-disabled .swiper-button-next {
  display: none !important;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  font-family: swiper-icons;
  font-size: var(--swiper-navigation-size);
  text-transform: none !important;
  letter-spacing: 0;
  font-variant: initial;
  line-height: 1;
}

.swiper-button-prev,
.swiper-rtl .swiper-button-next {
  left: var(--swiper-navigation-sides-offset, 0px);
  right: auto;
}

.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
  content: "prev";
}

.swiper-button-next,
.swiper-rtl .swiper-button-prev {
  right: var(--swiper-navigation-sides-offset, 0px);
  left: auto;
}

.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
  content: "next";
}

.swiper-button-lock {
  display: none;
}

:root {
  /*
  --swiper-pagination-color: var(--swiper-theme-color);
  --swiper-pagination-left: auto;
  --swiper-pagination-right: 8px;
  --swiper-pagination-bottom: 8px;
  --swiper-pagination-top: auto;
  --swiper-pagination-fraction-color: inherit;
  --swiper-pagination-progressbar-bg-color: rgba(0,0,0,0.25);
  --swiper-pagination-progressbar-size: 4px;
  --swiper-pagination-bullet-size: 8px;
  --swiper-pagination-bullet-width: 8px;
  --swiper-pagination-bullet-height: 8px;
  --swiper-pagination-bullet-inactive-color: #000;
  --swiper-pagination-bullet-inactive-opacity: 0.2;
  --swiper-pagination-bullet-opacity: 1;
  --swiper-pagination-bullet-horizontal-gap: 4px;
  --swiper-pagination-bullet-vertical-gap: 6px;
  */
}

.swiper-pagination {
  position: absolute;
  text-align: center;
  -webkit-transition: 300ms opacity;
  transition: 300ms opacity;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  z-index: 10;
}

.swiper-pagination.swiper-pagination-hidden {
  opacity: 0;
}

.swiper-pagination-disabled > .swiper-pagination,
.swiper-pagination.swiper-pagination-disabled {
  display: none !important;
}

/* Common Styles */
.swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
  /*bottom: var(--swiper-pagination-bottom, 8px);*/
  top: var(--swiper-pagination-top, auto);
  left: 0;
  width: 100%;
}

/* Bullets */
.swiper-pagination-bullets-dynamic {
  overflow: hidden;
  font-size: 0;
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
  -webkit-transform: scale(0.33);
          transform: scale(0.33);
  position: relative;
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-main {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev {
  -webkit-transform: scale(0.66);
          transform: scale(0.66);
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev-prev {
  -webkit-transform: scale(0.33);
          transform: scale(0.33);
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next {
  -webkit-transform: scale(0.66);
          transform: scale(0.66);
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next-next {
  -webkit-transform: scale(0.33);
          transform: scale(0.33);
}

.swiper-pagination-bullet {
  width: var(--swiper-pagination-bullet-width, var(--swiper-pagination-bullet-size, 8px));
  height: var(--swiper-pagination-bullet-height, var(--swiper-pagination-bullet-size, 8px));
  display: inline-block;
  border-radius: 50%;
  background: var(--swiper-pagination-bullet-inactive-color, #000);
  opacity: var(--swiper-pagination-bullet-inactive-opacity, 0.2);
}

button.swiper-pagination-bullet {
  border: none;
  margin: 0;
  padding: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
}

.swiper-pagination-clickable .swiper-pagination-bullet {
  cursor: pointer;
}

.swiper-pagination-bullet:only-child {
  display: none !important;
}

.swiper-pagination-bullet-active {
  opacity: var(--swiper-pagination-bullet-opacity, 1);
  background: var(--swiper-pagination-color, var(--swiper-theme-color));
}

.swiper-vertical > .swiper-pagination-bullets,
.swiper-pagination-vertical.swiper-pagination-bullets {
  right: var(--swiper-pagination-right, 8px);
  left: var(--swiper-pagination-left, auto);
  top: 50%;
  -webkit-transform: translate3d(0px, -50%, 0);
          transform: translate3d(0px, -50%, 0);
}

.swiper-vertical > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-vertical.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: var(--swiper-pagination-bullet-vertical-gap, 6px) 0;
  display: block;
}

.swiper-vertical > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic,
.swiper-pagination-vertical.swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 8px;
}

.swiper-vertical > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet,
.swiper-pagination-vertical.swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
  display: inline-block;
  -webkit-transition: 200ms top, 200ms -webkit-transform;
  transition: 200ms top, 200ms -webkit-transform;
  transition: 200ms transform, 200ms top;
  transition: 200ms transform, 200ms top, 200ms -webkit-transform;
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 4px);
}

.swiper-horizontal > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic,
.swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  white-space: nowrap;
}

.swiper-horizontal > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
  -webkit-transition: 200ms left, 200ms -webkit-transform;
  transition: 200ms left, 200ms -webkit-transform;
  transition: 200ms transform, 200ms left;
  transition: 200ms transform, 200ms left, 200ms -webkit-transform;
}

.swiper-horizontal.swiper-rtl > .swiper-pagination-bullets-dynamic .swiper-pagination-bullet,
:host(.swiper-horizontal.swiper-rtl) .swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
  -webkit-transition: 200ms right, 200ms -webkit-transform;
  transition: 200ms right, 200ms -webkit-transform;
  transition: 200ms transform, 200ms right;
  transition: 200ms transform, 200ms right, 200ms -webkit-transform;
}

/* Fraction */
.swiper-pagination-fraction {
  color: var(--swiper-pagination-fraction-color, inherit);
}

/* Progress */
.swiper-pagination-progressbar {
  background: var(--swiper-pagination-progressbar-bg-color, rgba(0, 0, 0, 0.25));
  position: absolute;
  /*ADD_HOST*/
}

.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  background: var(--swiper-pagination-color, var(--swiper-theme-color));
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transform-origin: left top;
          transform-origin: left top;
}

.swiper-rtl .swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  -webkit-transform-origin: right top;
          transform-origin: right top;
}

.swiper-horizontal > .swiper-pagination-progressbar,
.swiper-pagination-progressbar.swiper-pagination-horizontal,
.swiper-vertical > .swiper-pagination-progressbar.swiper-pagination-progressbar-opposite,
.swiper-pagination-progressbar.swiper-pagination-vertical.swiper-pagination-progressbar-opposite {
  width: 100%;
  height: var(--swiper-pagination-progressbar-size, 4px);
  left: 0;
  top: 0;
}

.swiper-vertical > .swiper-pagination-progressbar,
.swiper-pagination-progressbar.swiper-pagination-vertical,
.swiper-horizontal > .swiper-pagination-progressbar.swiper-pagination-progressbar-opposite,
.swiper-pagination-progressbar.swiper-pagination-horizontal.swiper-pagination-progressbar-opposite {
  width: var(--swiper-pagination-progressbar-size, 4px);
  height: 100%;
  left: 0;
  top: 0;
}

.swiper-pagination-lock {
  display: none;
}

:root {
  /*
  --swiper-scrollbar-border-radius: 10px;
  --swiper-scrollbar-top: auto;
  --swiper-scrollbar-bottom: 4px;
  --swiper-scrollbar-left: auto;
  --swiper-scrollbar-right: 4px;
  --swiper-scrollbar-sides-offset: 1%;
  --swiper-scrollbar-bg-color: rgba(0, 0, 0, 0.1);
  --swiper-scrollbar-drag-bg-color: rgba(0, 0, 0, 0.5);
  --swiper-scrollbar-size: 4px;
  */
}

.swiper-scrollbar {
  border-radius: var(--swiper-scrollbar-border-radius, 10px);
  position: relative;
  -ms-touch-action: none;
  background: var(--swiper-scrollbar-bg-color, rgba(0, 0, 0, 0.1));
}

.swiper-scrollbar-disabled > .swiper-scrollbar,
.swiper-scrollbar.swiper-scrollbar-disabled {
  display: none !important;
}

.swiper-horizontal > .swiper-scrollbar,
.swiper-scrollbar.swiper-scrollbar-horizontal {
  position: absolute;
  left: var(--swiper-scrollbar-sides-offset, 1%);
  bottom: var(--swiper-scrollbar-bottom, 4px);
  top: var(--swiper-scrollbar-top, auto);
  z-index: 50;
  height: var(--swiper-scrollbar-size, 4px);
  width: calc(100% - 2 * var(--swiper-scrollbar-sides-offset, 1%));
}

.swiper-vertical > .swiper-scrollbar,
.swiper-scrollbar.swiper-scrollbar-vertical {
  position: absolute;
  left: var(--swiper-scrollbar-left, auto);
  right: var(--swiper-scrollbar-right, 4px);
  top: var(--swiper-scrollbar-sides-offset, 1%);
  z-index: 50;
  width: var(--swiper-scrollbar-size, 4px);
  height: calc(100% - 2 * var(--swiper-scrollbar-sides-offset, 1%));
}

.swiper-scrollbar-drag {
  height: 100%;
  width: 100%;
  position: relative;
  background: var(--swiper-scrollbar-drag-bg-color, rgba(0, 0, 0, 0.5));
  border-radius: var(--swiper-scrollbar-border-radius, 10px);
  left: 0;
  top: 0;
}

.swiper-scrollbar-cursor-drag {
  cursor: move;
}

.swiper-scrollbar-lock {
  display: none;
}

.swiper-zoom-container {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.swiper-zoom-container > img,
.swiper-zoom-container > svg,
.swiper-zoom-container > canvas {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.swiper-slide-zoomed {
  cursor: move;
  -ms-touch-action: none;
      touch-action: none;
}

/* a11y */
.swiper .swiper-notification,
swiper-container .swiper-notification {
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
  opacity: 0;
  z-index: -1000;
}

.swiper-free-mode > .swiper-wrapper {
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  margin: 0 auto;
}

.swiper-grid > .swiper-wrapper {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.swiper-grid-column > .swiper-wrapper {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.swiper-fade.swiper-free-mode .swiper-slide {
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}

.swiper-fade .swiper-slide {
  pointer-events: none;
  -webkit-transition-property: opacity;
  transition-property: opacity;
}

.swiper-fade .swiper-slide .swiper-slide {
  pointer-events: none;
}

.swiper-fade .swiper-slide-active,
.swiper-fade .swiper-slide-active .swiper-slide-active {
  pointer-events: auto;
}

.swiper-cube {
  overflow: visible;
}

.swiper-cube .swiper-slide {
  pointer-events: none;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  z-index: 1;
  visibility: hidden;
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  width: 100%;
  height: 100%;
}

.swiper-cube .swiper-slide .swiper-slide {
  pointer-events: none;
}

.swiper-cube.swiper-rtl .swiper-slide {
  -webkit-transform-origin: 100% 0;
          transform-origin: 100% 0;
}

.swiper-cube .swiper-slide-active,
.swiper-cube .swiper-slide-active .swiper-slide-active {
  pointer-events: auto;
}

.swiper-cube .swiper-slide-active,
.swiper-cube .swiper-slide-next,
.swiper-cube .swiper-slide-prev,
.swiper-cube .swiper-slide-next + .swiper-slide {
  pointer-events: auto;
  visibility: visible;
}

.swiper-cube .swiper-slide-shadow-top,
.swiper-cube .swiper-slide-shadow-bottom,
.swiper-cube .swiper-slide-shadow-left,
.swiper-cube .swiper-slide-shadow-right {
  z-index: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.swiper-cube .swiper-cube-shadow {
  position: absolute;
  left: 0;
  bottom: 0px;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  z-index: 0;
}

.swiper-cube .swiper-cube-shadow:before {
  content: "";
  background: #000;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  -webkit-filter: blur(50px);
          filter: blur(50px);
}

.swiper-flip {
  overflow: visible;
}

.swiper-flip .swiper-slide {
  pointer-events: none;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  z-index: 1;
}

.swiper-flip .swiper-slide .swiper-slide {
  pointer-events: none;
}

.swiper-flip .swiper-slide-active,
.swiper-flip .swiper-slide-active .swiper-slide-active {
  pointer-events: auto;
}

.swiper-flip .swiper-slide-shadow-top,
.swiper-flip .swiper-slide-shadow-bottom,
.swiper-flip .swiper-slide-shadow-left,
.swiper-flip .swiper-slide-shadow-right {
  z-index: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.swiper-creative .swiper-slide {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow: hidden;
  -webkit-transition-property: opacity, height, -webkit-transform;
  transition-property: opacity, height, -webkit-transform;
  transition-property: transform, opacity, height;
  transition-property: transform, opacity, height, -webkit-transform;
}

.swiper-cards {
  overflow: visible;
}

.swiper-cards .swiper-slide {
  -webkit-transform-origin: center bottom;
          transform-origin: center bottom;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow: hidden;
}

.ceremonies-list h3 {
  font-size: xx-large;
  padding-bottom: 50px;
}
.ceremonies-list .block-sacrament {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.ceremonies-list .block-sacrament .item-img {
  margin-top: 0;
  position: relative;
  margin-bottom: 100px;
  overflow: hidden;
  max-width: 400px;
  min-width: 200px;
}
.ceremonies-list .block-sacrament .item-img .img-sacrament {
  border-radius: 2%;
  width: 100%;
  border: 3px solid #55adbd;
  -webkit-box-shadow: 2px 1px 5px #999999;
          box-shadow: 2px 1px 5px #999999;
}
.ceremonies-list .block-sacrament .item-body {
  margin-top: 0;
}
.ceremonies-list .block-sacrament .item-body .description {
  padding-left: 50px;
  padding-right: 50px;
  max-width: 880px;
  min-width: 420px;
  margin-top: 0;
}
.ceremonies-list .block-sacrament .item-body .description .rich-text {
  text-align: left;
  font-size: x-large;
}

/*font-family: 'Cormorant Infant', serif;
font-family: 'Hind Madurai', sans-serif;
font-family: 'Lora', serif;
font-family: 'Montserrat', sans-serif;*/
/*Обнуление*/
* {
  padding: 0;
  margin: auto;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 15px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
.container-width {
  max-width: 1400px;
  margin: 0px auto;
  padding: 0 10px;
}

body {
  color: #678574;
  font-weight: 300;
  font-size: 1rem;
  line-height: 2.5;
  text-align: left;
}
body .backgroand-syte {
  padding-top: 100px;
}
body .backgroand-syte .opacyti-body {
  margin: 0 auto;
  width: 100%;
  background: rgba(255, 255, 255, 0.5);
  text-align: center;
}
body .backgroand-syte .opacyti-body main {
  position: relative;
}
body .backgroand-syte .opacyti-body main .container-icon {
  margin-top: 50px;
  position: relative;
  max-block-size: 500px;
  margin-bottom: 100px;
  overflow: hidden;
}
body .backgroand-syte .opacyti-body main .container-icon .icon {
  width: 100%;
  margin: auto;
}
body .backgroand-syte .opacyti-body main .holy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-height: 630px;
  overflow: hidden;
}
body .backgroand-syte .opacyti-body main .holy .gates-1 {
  content: url("../img/Rez/Hram_1.jpg");
  width: 33%;
  padding: 2px 2px 2px 2px;
  margin: 0px;
  margin-top: -200px;
  height: 100%;
}
body .backgroand-syte .opacyti-body main .holy .gates-2 {
  content: url("../img/Rez/Hram_2.jpg");
  width: 33%;
  padding: 2px;
  margin: 0px;
  margin-top: -200px;
  height: 100%;
}
body .backgroand-syte .opacyti-body main .holy .gates-3 {
  content: url("../img/Rez/Hram_3.jpg");
  width: 33%;
  padding: 2px 2px 0 2px;
  margin: 0px;
  margin-top: -200px;
  height: 100%;
}
body .backgroand-syte .opacyti-body main .lorem {
  font-size: x-large;
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: justify;
}
body .backgroand-syte .opacyti-body main .lorem p {
  text-indent: 2em;
  margin-top: 1em;
  margin-bottom: 1em;
}
body .backgroand-syte .opacyti-body main .lorem-center {
  font-size: x-large;
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center;
}
body .backgroand-syte .opacyti-body main .lorem-center p {
  text-indent: 2em;
  margin-top: 1em;
  margin-bottom: 1em;
}
body .backgroand-syte .opacyti-body main .container-image-history_1 {
  position: absolute;
  width: 100%;
  padding-top: 100px;
  opacity: 20%;
}
body .backgroand-syte .opacyti-body main .container-image-history_1 .image-history_1 {
  position: absolute;
  left: 50px;
  max-width: 20%;
  -webkit-transform: rotate(-10deg);
          transform: rotate(-10deg);
}
body .backgroand-syte .opacyti-body main .container-image-history_2 {
  position: absolute;
  width: 100%;
  padding-top: 100px;
  padding-bottom: 100px;
  opacity: 20%;
}
body .backgroand-syte .opacyti-body main .container-image-history_2 .image-history_2 {
  position: absolute;
  max-width: 20%;
  -webkit-transform: rotate(11deg);
          transform: rotate(11deg);
  right: 50px;
  bottom: -610px;
}
body .backgroand-syte .opacyti-body main .container-image-history_1:hover,
body .backgroand-syte .opacyti-body main .container-image-history_2:hover {
  opacity: 100%;
  -webkit-animation: view-opacity-container-image-history_1 1.5s forwards;
          animation: view-opacity-container-image-history_1 1.5s forwards;
}

@media (max-width: 1400px) {
  .container-width {
    max-width: 1200px;
    margin: 0px auto;
    padding: 0 10px;
  }
  .container-width .swiper-button-prev,
  .container-width .swiper-button-next {
    margin-top: calc(435px - var(--swiper-navigation-size) / 2);
  }
}
@media (max-width: 1200px) {
  body .backgroand-syte .opacyti-body main .holy {
    display: none;
  }
  .container-width {
    max-width: 970px;
    margin: 0px auto;
    padding: 0 10px;
  }
  .container-width .logo-link-back-to-pravbratsk {
    margin: 95px 0 0 0;
    padding-right: 30px;
    padding-left: 50px;
  }
  .container-width .swiper-button-prev,
  .container-width .swiper-button-next {
    margin-top: calc(820px - var(--swiper-navigation-size) / 2);
  }
}
@media (max-width: 992px) {
  .container-width {
    max-width: 750px;
    margin: 0px auto;
    padding: 0 10px;
  }
  .container-width .swiper-button-prev,
  .container-width .swiper-button-next {
    margin-top: calc(875px - var(--swiper-navigation-size) / 2);
  }
  .body.lock {
    overflow: hidden;
  }
}
@media (max-width: 767px) {
  .container-width {
    max-width: none;
    margin: 0px auto;
    padding: 0 10px;
  }
  .container-width .image-slider .swiper-button-next::after,
  .container-width .image-slider .swiper-button-prev::after,
  .container-width .swiper-button-next,
  .container-width .swiper-button-prev {
    display: none;
  }
  .page-footer-section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .page-footer-menu {
    margin: 0 2rem 1.5rem;
  }
}
@media (max-width: 480px) {
  body header .view .opacyti-body .cerch-name {
    font-size: 50px;
  }
}
.container-nav._active {
  border-bottom-color: #f0f0f0;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
          transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
  background: rgb(255, 255, 255);
}
.container-nav._active .container-width .logo-link-back-to-pravbratsk .logo-link {
  color: white;
}
.container-nav._active .container-width .logo-link-back-to-pravbratsk .logo-link:visited {
  color: white;
}
.container-nav._active .container-width .navbar .menu li {
  margin: 0px 2vw 0px 2vw;
  white-space: nowrap;
}
.container-nav._active .container-width .navbar .menu li .menu-link {
  color: rgba(38, 47, 75, 0.9);
}

.body-header {
  font-size: 40px;
  font-family: "Lora", serif;
  margin-top: 100px;
}

.menu-link:hover {
  border-bottom: 1px solid;
  -webkit-transition-duration: 0.05s;
          transition-duration: 0.05s;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
          transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
}

@-webkit-keyframes view-opacity {
  0% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}

@keyframes view-opacity {
  0% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes view-opacity-container-image-history_1 {
  0% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
@keyframes view-opacity-container-image-history_1 {
  0% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
#colorbox {
  position: absolute;
  z-index: 9999;
}

.container-slider {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 50px;
  overflow: hidden;
}
.container-slider .image-slider {
  padding: 30px 0 70px 0;
}
.container-slider .image-slider .image-slider_wrapper .image-slider_slide .image-slider_image .group .fade {
  width: 75%;
  height: 100%;
  max-block-size: 600px;
  overflow: hidden;
}

.image-slider .swiper-button-next::after,
.image-slider .swiper-button-prev::after {
  color: #5071ca;
  font-size: 80px;
}

.image-slider .swiper-pagination-bullet {
  width: 15px;
  height: 15px;
  line-height: 15px;
  font-size: 14px;
}

.group .fade {
  margin-left: 100px;
  margin-right: 100px;
}

.map {
  max-width: 1400px;
  max-height: 700px;
  background: #333;
  width: 1400px;
  height: 700px;
}